<div class="row">
  <div class="col-md-12">
    <img src="{{recetaSeleccionada?.imagenUrl}}">
  </div>
</div>
<div class="row">
  <div class="col-md 12">
    <h1>{{recetaSeleccionada?.nombre}}</h1>
  </div>
  <div class="col-md-12">
    <button class="btn btn-success">Añadira a la lista de compra</button>
  <button class="btn btn-primary">Editar</button>
  <button class="btn btn-danger">Eliminar</button>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <p>{{recetaSeleccionada?.descripcion}}</p>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item">Ingrediente 1</li>
    </ul>
  </div>
</div>
